<h1>Listing words</h1>

<table>
  <thead>
    <tr>
      <th>Palabra</th>
      <th>Definicion</th>
      <th>Ejemplo</th>
      <th>Creado por</th>
      <th>Fecha de creacion</th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= link_to word.name, word_path(word) %></td>
        <td><%= word.definition %></td>
        <td><%= word.example %></td>
        <td><%= word.creator.pseudonym %></td>
        <td><%= word.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva palabra', new_word_path %>
