<p id="notice"><%= notice %></p>
<% @words.each_with_index do |word, index| %>
  <h2><%= "#{index+1}) #{word.name}" %></h2>

  <div class="definition">
    <%= word.definition %>
  </div>

  <div class="example">
    <em><%= word.example %></em>
  </div>

  <div class="author">
    por <strong><%= word.creator.pseudonym %></strong> <%= word.created_at.strftime("%d/%m/%Y") %>
  </div>

  <div class="vote">
    <%= link_to "upvote", word_upvote_path(word.id), method: :post, remote: true %> (<%= word.votes.up.count %>)|
    <%= link_to "downvote", word_downvote_path(word.id), method: :post, remote: true %>(<%= word.votes.down.count %>)
  </div>
<% end %>
